{% extends  'index.html' %}
{{ csrf_token () }}

{% block title %}
    Турнирная таблица
{% endblock %}


{% block content %}

    {% block scripts %}
        <script type="text/javascript">
        {#если при отправке данных о заработанных очках на сервер есть пустая строка,
         данные не отправляются#}
        function nullstr() {
            let inputs = table.getElementsByTagName('input');
            for (let input of inputs) {
                if (input.value == '') {
                    input.style.background = 'red';
                    alert('Вы не ввели все данные повторите ввод');
                    return false;
                }
            }
            return true;
        }

        </script>

    {% endblock scripts %}

    <div class="container">

        <div class="row d-flex justify-content-center">
            <h3>Таблица распределения по парам</h3>
            <p></p>
        </div>
        <div class="row d-flex justify-content-center">
            <form action="{{ url_for('swiss_sistem.turnir') }}" method="post" name="table">
                {#        <div class="row d-flex justify-content-center">{{ form.nameturnir(size=30, class='text-center') }}</div>#}
                <p></p>
                <table class="table table-sm">
                    <thead>
                    <tr>

                        <th scope="col">№</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">всего очков</th>
                        <th></th>
                        <th></th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">всего очков</th>

                    </thead>

                    {% for dat in play_tab %}  {# |sort(attribute='lastname') %}#}
                        <tbody>
                        <tr>

                            <th></th>
                            {#       <th scope="row"><input type="checkbox" name='checks' value='{{ dat.id }}'></th>#}
                            {% if dat[1].id %}

                                <th>{{ dat[0].lastname }}</th>
                                <th>{{ dat[0].name }}</th>
                                {% if total %}
                                    <th class="text-center">{{ total.get(dat[0].id) }}</th>{% endif %}

                                {#                                <th>{{ form.point(size=1, class='text-center', id=dat[0].id) }}</th>#}
                                <th><input type="text" class="form-control form-control-sm text-center" size="1"
                                           pattern="[0][.][5]|[0]|[1]" name={{ dat[0].id }}></th>
                            {% else %}
                                <th>{{ dat[0].lastname }}</th>
                                <th>{{ dat[0].name }}</th>
                                {% if total %}
                                    <th class="text-center">{{ total.get(dat[0].id) }}</th>{% endif %}
                                {#                                <th>{{ form.point(size=1, class='text-center', value='1', placeholder="1", id=dat[0].id) }}</th>#}
                                <th><input type="text" class="form-control form-control-sm text-center" size="1"
                                           pattern="[0][.][5]|[0]|[1]" name={{ dat[0].id }}  placeholder="1" value="1">
                            {% endif %}
                            <th>
                                <ul></ul>
                            </th>
                            {% if dat[1].id %}
                                <th>{{ dat[1].lastname }}</th>
                                <th>{{ dat[1].name }}
                                <th>
                                {% if total %}
                                    <th class="text-center">{{ total.get(dat[1].id) }}</th>{% endif %}
                                {#                                <th>{{ form.point(size=1, class='text-center', id=dat[1].id ) }}</th>#}
                                <th><input type="text" class="form-control form-control-sm text-center"
                                           pattern="[0][.][5]|[0]|[1]" size="1" name={{ dat[1].id }}></th>
                            {% endif %}
                        </tr>

                        </tbody>

                    {% endfor %}
                </table>
                <input class="btn btn-primary" type="submit" value="Играть" onclick="return nullstr()">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>




{% endblock %}